<div class="menu-item">
    <a class="menu-link @SetMenuClassAndActive("menu-link-main-page")" asp-area="" asp-controller="Home" asp-action="Index">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="30" height="30" viewBox="0 0 499.000000 500.000000"
             preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)"
               stroke="none">
                <path d="M2560 4821 c-19 -4 -46 -13 -59 -20 -19 -10 -161 -128 -181 -151 -3 -3 -43 -39 -90 -80 -46 -41 -92 -82 -100 -90 -9 -8 -32 -28 -51 -44 -19 -16 -54 -48 -79 -70 -25 -23 -79 -71 -120 -107 -206 -183 -425 -376 -590 -524 -31 -27 -76 -68 -101 -89 -140 -124 -396 -352 -410 -365 -9 -9 -29 -28 -45 -42
-16 -14 -68 -59 -114 -100 -47 -40 -101 -87 -119 -104 -101 -88 -140 -141
-156 -212 -9 -46 19 -135 58 -179 51 -59 83 -68 247 -74 l145 -5 5 -1050 c6
-1167 1 -1088 74 -1152 76 -67 -28 -64 1757 -61 l1614 3 47 23 c26 13 59 39
73 58 58 76 55 14 55 1144 l0 1040 138 0 c128 0 142 2 189 25 109 54 154 186
101 293 -23 44 -95 114 -349 337 -71 63 -224 200 -229 205 -3 3 -61 54 -130
115 -69 60 -127 113 -130 116 -3 4 -24 23 -48 43 -43 35 -179 156 -211 186 -9
9 -52 47 -96 85 -44 39 -82 72 -85 75 -9 9 -102 92 -184 165 -44 39 -107 95
-141 125 -33 30 -92 82 -130 115 -38 33 -96 85 -130 115 -245 221 -263 235
-327 250 -48 11 -48 11 -98 1z m102 -566 c24 -22 84 -76 133 -120 50 -44 92
-82 95 -85 3 -3 43 -39 90 -80 47 -41 100 -88 119 -105 19 -16 39 -35 45 -41
10 -9 391 -348 495 -440 25 -21 72 -64 106 -94 33 -30 97 -86 140 -125 44 -38
98 -87 120 -107 l40 -37 -1439 -1 -1439 0 65 60 c36 33 85 76 109 96 24 20 46
39 49 43 3 4 104 94 225 201 121 107 222 197 225 200 3 3 43 39 90 80 97 85
132 116 204 181 28 26 71 63 96 84 25 21 47 40 50 44 3 4 66 60 140 126 74 66
146 130 160 142 14 13 28 22 32 21 3 -2 26 -21 50 -43z m1303 -2595 l0 -905
-337 -3 -338 -2 0 342 c0 380 -10 487 -56 598 -76 187 -218 317 -425 392 -56
20 -83 23 -204 22 -120 0 -149 -3 -205 -23 -106 -38 -190 -91 -266 -166 -80
-79 -129 -157 -170 -271 l-29 -79 -5 -405 -5 -405 -337 -3 -338 -2 0 910 0
910 1358 -2 1357 -3 0 -905z m-1239 -34 c47 -30 76 -67 92 -115 8 -24 12 -146
12 -397 l0 -364 -225 0 -225 0 0 359 c0 242 4 369 11 392 18 51 77 119 123
141 59 28 158 20 212 -16z" />
            </g>
        </svg>
        Главная
    </a>
</div>
<div class="menu-item">
    <a class="menu-link @SetMenuClassAndActive(" menu-link-timetable")"  asp-controller="Log" asp-action="AdminLog">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="30" height="30" viewBox="0 0 521.000000 479.000000"
             preserveAspectRatio="xMidYMid meet">
            <metadata>
                Created by potrace 1.16, written by Peter Selinger 2001-2019
            </metadata>
            <g transform="translate(0.000000,479.000000) scale(0.100000,-0.100000)"
               stroke="none">
                <path d="M1542 4570 c-52 -12 -109 -56 -139 -107 -26 -45 -28 -56 -31 -185
l-4 -138 -152 0 c-175 0 -230 -11 -353 -70 -161 -76 -302 -255 -338 -428 -22
-100 -22 -2794 0 -2894 47 -225 258 -436 483 -483 56 -12 318 -15 1665 -15
1791 0 1670 -5 1822 73 142 74 252 204 316 377 l24 65 0 1435 0 1435 -28 69
c-82 206 -223 344 -420 409 -49 16 -98 22 -237 26 l-175 6 -5 146 c-5 138 -6
148 -32 187 -40 59 -106 95 -177 95 -91 0 -156 -42 -200 -130 -18 -37 -21 -60
-21 -173 l0 -130 -867 2 -868 3 -5 147 c-5 143 -6 147 -35 190 -50 70 -144
108 -223 88z m2729 -874 c54 -22 88 -54 114 -107 23 -44 25 -60 25 -179 l0
-130 -1735 0 -1735 0 0 133 c0 150 13 192 71 241 69 59 -35 55 1660 56 1326 0
1572 -2 1600 -14z m139 -1842 c0 -986 0 -996 -21 -1044 -23 -53 -81 -106 -132
-121 -45 -13 -3121 -12 -3168 1 -52 14 -124 86 -138 135 -8 28 -11 344 -11
1033 l0 992 1735 0 1735 0 0 -996z" />
                <path d="M1526 2400 c-46 -14 -91 -50 -121 -97 -37 -59 -39 -153 -5 -208 46
-74 113 -115 190 -115 116 0 210 93 210 207 0 77 -16 117 -64 161 -61 56 -135
74 -210 52z" />
                <path d="M2595 2395 c-135 -48 -178 -233 -79 -344 92 -103 257 -89 339 30 26
37 30 51 30 113 0 59 -5 78 -26 111 -35 54 -57 72 -108 90 -53 18 -103 19
-156 0z" />
                <path d="M3675 2391 c-166 -76 -180 -286 -25 -378 41 -25 66 -33 103 -33 122
0 217 96 217 217 -1 152 -159 257 -295 194z" />
                <path d="M1520 1533 c-39 -14 -94 -61 -117 -100 -19 -33 -25 -58 -26 -102 -1
-182 213 -283 351 -165 53 45 76 104 70 184 -8 112 -94 191 -207 189 -31 0
-63 -3 -71 -6z" />
                <path d="M2585 1525 c-87 -47 -132 -128 -122 -221 21 -201 278 -258 396 -87
22 32 26 49 26 109 0 60 -4 76 -27 111 -15 23 -44 54 -64 70 -31 23 -48 28
-108 31 -51 2 -79 -2 -101 -13z" />
                <path d="M3662 1519 c-66 -33 -122 -120 -122 -190 0 -45 46 -140 82 -168 38
-31 122 -53 168 -45 93 16 166 91 177 182 11 99 -40 193 -123 228 -50 21 -132
18 -182 -7z" />
            </g>
        </svg>
        Расписание
    </a>
</div>
<div class="menu-item">
    <a class="menu-link @SetMenuClassAndActive("menu-link-statment")" asp-area="" asp-controller="Statments" asp-action="Index">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30"
             viewBox="0 0 494.881 494.881" style="enable-background:new 0 0 494.881 494.881;" xml:space="preserve">
<g id="XMLID_211_">
        <path id="XMLID_216_" d="M196.782,63.877c-0.067,0.913-0.276,1.787-0.276,2.719c0,25.56,20.716,46.269,46.273,46.269
		c25.588,0,46.286-20.71,46.286-46.269c0-0.932-0.222-1.806-0.27-2.719H197.09H196.782z" />
        <path id="XMLID_215_" d="M366.799,278.201l-65.993-144.592c-3.881-8.501-11.933-11.822-21.559-11.822h-71.872
		c-8.525,0-16.177,1.996-20.882,8.759l-9.122,13.156l9.835-3.751l32.864-12.561c13.845-5.289,29.272,1.756,34.481,15.43
		l26.135,68.445c5.228,13.692-1.55,29.193-15.427,34.482l-25.329,9.664c-6.175,10.232-17.32,16.693-29.438,16.693
		c-5.849,0-24.418-4.521-30.76-5.904l-8.23,146.896c-0.179,2.992,0.886,5.912,2.958,8.087c2.036,2.175,4.915,3.404,7.892,3.404
		h4.269v46.541c0,13.116,10.647,23.751,23.761,23.751c13.12,0,23.761-10.635,23.761-23.751v-46.541h17.302v46.541
		c0,13.116,10.641,23.751,23.761,23.751c13.119,0,23.76-10.635,23.76-23.751v-46.541h4.299c2.996,0,5.837-1.229,7.892-3.388
		c2.054-2.167,3.137-5.08,2.977-8.057l-9.153-175.039l25.815,56.528c4.54,9.989,16.3,14.306,26.215,9.794
		C366.959,299.883,371.344,288.142,366.799,278.201z" />
        <path id="XMLID_214_" d="M179.314,195.475l38.474,8.408c15.802,3.444,26.609,17.25,27.027,32.719l14.787-5.642
		c5.561-2.12,8.439-8.377,6.286-14.049l-26.135-68.439c-2.153-5.637-8.458-8.41-14.055-6.282l-48.069,18.366
		c-5.628,2.142-8.439,8.433-6.292,14.046L179.314,195.475z" />
        <path id="XMLID_213_" d="M209.361,257.308c9.109,0,17.309-6.317,19.314-15.569c2.344-10.685-4.435-21.227-15.107-23.564
		l-41.26-9.016l-5.16-1.132l-10.611-27.771c-0.578-1.554-0.965-3.131-1.261-4.706l-25.452,36.666c0,0.016-0.019,0.031-0.037,0.056
		l-0.062,0.105c-3.801,5.452-4.336,13.012-2.171,18.52c2.141,5.395,7.603,10.65,14.203,12.094
		C145.072,243.719,206.095,257.308,209.361,257.308z" />
        <path id="XMLID_212_" d="M182.869,16.56h14.221v33.092h91.974V16.56h7.553v41.808c0,4.287,3.672,8.283,8.285,8.283
		c4.576,0,8.28-3.703,8.28-8.283V8.279c0-4.602-3.027-8.279-9.897-8.279H182.869c-6.858,0-9.897,3.678-9.897,8.279
		C172.972,12.883,176.011,16.56,182.869,16.56z" />
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
        Студенты
    </a>
</div>
<div class="menu-item">
    <a class="menu-link @SetMenuClassAndActive("menu-link-teachers")" asp-area="" asp-controller="Teachers" asp-action="Index">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="30" height="30" viewBox="0 0 408.000000 612.000000"
             preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,612.000000) scale(0.100000,-0.100000)"
               stroke="none">
                <path d="M1035 4620 c-53 -24 -119 -94 -142 -150 -17 -42 -18 -85 -18 -570 l0
-525 26 -56 c32 -67 104 -129 170 -148 33 -9 275 -11 984 -9 l940 3 45 27 c56
33 92 70 122 128 l23 45 0 535 c0 524 0 536 -21 581 -26 55 -85 115 -139 140
-38 18 -88 19 -995 18 -902 0 -957 -1 -995 -19z m732 -281 c100 -48 162 -164
149 -276 -8 -65 -24 -100 -73 -154 -137 -152 -385 -99 -454 96 -38 109 -6 223
83 298 81 68 199 82 295 36z m1083 -189 l0 -50 -325 0 -325 0 0 50 0 50 325 0
325 0 0 -50z m-220 -220 l0 -50 -215 0 -215 0 0 50 0 50 215 0 215 0 0 -50z
m230 -220 l0 -50 -330 0 -330 0 0 50 0 50 330 0 330 0 0 -50z m-933 -27 c56
-30 111 -88 134 -141 15 -34 19 -68 19 -158 l0 -114 -435 0 -435 0 0 106 c0
134 12 174 73 240 79 87 107 94 377 91 212 -2 228 -3 267 -24z" />
                <path d="M859 2742 c-157 -82 -197 -291 -80 -423 110 -125 302 -126 411 -3
121 138 81 347 -82 428 -75 38 -175 37 -249 -2z" />
                <path d="M1915 2749 c-99 -49 -155 -138 -155 -248 0 -85 17 -128 76 -192 57
-60 116 -84 204 -83 133 1 248 105 266 241 14 107 -57 233 -159 282 -59 29
-175 29 -232 0z" />
                <path d="M2949 2742 c-155 -81 -196 -288 -83 -420 107 -125 297 -130 411 -10
103 108 97 291 -15 389 -57 50 -108 69 -188 69 -59 0 -81 -5 -125 -28z" />
                <path d="M775 2111 c-86 -16 -160 -73 -204 -156 -20 -37 -21 -56 -21 -262 0
-210 1 -223 19 -233 13 -6 163 -10 420 -10 433 0 423 -1 437 55 10 41 -2 388
-15 429 -17 51 -90 129 -149 157 -43 21 -62 23 -247 25 -110 1 -218 -1 -240
-5z" />
                <path d="M1825 2111 c-98 -19 -161 -67 -204 -153 l-31 -61 0 -208 c0 -203 0
-208 22 -223 19 -14 77 -16 425 -16 l402 0 15 22 c23 32 23 395 1 458 -23 65
-77 125 -142 157 -56 27 -61 28 -253 30 -107 1 -213 -2 -235 -6z" />
                <path d="M2865 2111 c-86 -16 -163 -75 -204 -158 -19 -39 -21 -59 -21 -256 0
-195 2 -215 18 -230 17 -15 60 -17 416 -17 255 0 404 4 417 10 18 10 19 23 19
233 0 251 -5 269 -76 341 -72 71 -102 79 -329 82 -110 1 -218 -1 -240 -5z" />
            </g>
        </svg>
        Преподаватели
    </a>
</div>
<div class="menu-item">
    <a class="menu-link @SetMenuClassAndActive("menu-link-log")" asp-area="" asp-controller="Log" asp-action="Index">
        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Iconly/Curved/Setting">
                <g id="Setting">
                    <path id="Stroke 1" fill-rule="evenodd" clip-rule="evenodd" d="M12 9.5C13.3809 9.5 14.5 10.6191 14.5 12C14.5 13.3809 13.3809 14.5 12 14.5C10.6191 14.5 9.5 13.3809 9.5 12C9.5 10.6191 10.6191 9.5 12 9.5Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Stroke 3" fill-rule="evenodd" clip-rule="evenodd" d="M20.168 7.25025V7.25025C19.4845 6.05799 17.9712 5.65004 16.7885 6.33852C15.7598 6.93613 14.4741 6.18838 14.4741 4.99218C14.4741 3.61619 13.3659 2.5 11.9998 2.5V2.5C10.6337 2.5 9.52546 3.61619 9.52546 4.99218C9.52546 6.18838 8.23977 6.93613 7.21199 6.33852C6.02829 5.65004 4.51507 6.05799 3.83153 7.25025C3.14896 8.4425 3.55399 9.96665 4.73769 10.6541C5.76546 11.2527 5.76546 12.7473 4.73769 13.3459C3.55399 14.0343 3.14896 15.5585 3.83153 16.7498C4.51507 17.942 6.02829 18.35 7.21101 17.6625H7.21199C8.23977 17.0639 9.52546 17.8116 9.52546 19.0078V19.0078C9.52546 20.3838 10.6337 21.5 11.9998 21.5V21.5C13.3659 21.5 14.4741 20.3838 14.4741 19.0078V19.0078C14.4741 17.8116 15.7598 17.0639 16.7885 17.6625C17.9712 18.35 19.4845 17.942 20.168 16.7498C20.8515 15.5585 20.4455 14.0343 19.2628 13.3459H19.2618C18.2341 12.7473 18.2341 11.2527 19.2628 10.6541C20.4455 9.96665 20.8515 8.4425 20.168 7.25025Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </g>
            </g>
        </svg>
        Настройки сайта
    </a>

</div>
<div class="menu-item">
    <a class="menu-link @SetMenuClassAndActive("menu-link-contacts")" asp-area="" asp-controller="Contacts" asp-action="Index">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="30" height="30" viewBox="0 0 512.000000 512.000000"
             preserveAspectRatio="xMidYMid meet">
            <metadata>
                Created by potrace 1.16, written by Peter Selinger 2001-2019
            </metadata>
            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
               stroke="none">
                <path d="M3846 5103 c-397 -85 -730 -423 -811 -822 -13 -63 -16 -119 -13 -244
5 -195 24 -277 102 -431 46 -91 934 -1476 946 -1476 12 0 900 1385 946 1476
78 154 97 236 102 431 3 125 0 181 -13 244 -81 403 -417 740 -817 823 -100 21
-345 20 -442 -1z m367 -616 c282 -102 387 -438 212 -675 -146 -199 -417 -242
-613 -97 -286 210 -223 647 112 771 86 32 202 32 289 1z" />
                <path d="M3986 4201 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 39 -26
129 -26 168 0 46 31 66 69 66 131 0 62 -20 100 -66 131 -20 13 -47 19 -84 19
-37 0 -64 -6 -84 -19z" />
                <path d="M752 3356 c-408 -123 -745 -225 -747 -228 -3 -3 -4 -685 -3 -1516 l3
-1510 743 222 c408 123 745 225 747 228 3 3 4 685 3 1516 l-3 1510 -743 -222z" />
                <path d="M1812 2049 l3 -1520 593 -265 c327 -145 598 -264 603 -264 5 0 8 609
7 1546 l-3 1545 -555 221 c-305 121 -576 228 -603 239 l-47 19 2 -1521z" />
                <path d="M3320 1372 c0 -1091 3 -1372 12 -1372 7 0 345 111 750 246 l738 246
0 1126 c0 652 -4 1122 -9 1116 -5 -5 -172 -260 -371 -566 -199 -307 -366 -558
-370 -558 -4 0 -171 251 -370 558 -199 306 -366 561 -371 567 -5 5 -9 -568 -9
-1363z" />
            </g>
        </svg>
        Изменить Контакты
    </a>
</div>
<div class="menu-item">
    <a class="menu-link @SetMenuClassAndActive("menu-link-contacts")" asp-area="" asp-controller="Contacts" asp-action="Index">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="30" width="30"
             viewBox="0 0 242.937 242.937" style="enable-background:new 0 0 242.937 242.937;" xml:space="preserve">
<g fill="#83b4ff">
        <path d="M235.437,60.699h-31.709V30.927c0-4.142-3.358-7.5-7.5-7.5H7.5c-4.142,0-7.5,3.358-7.5,7.5v161.478
		c0,14.945,12.159,27.104,27.104,27.104h188.728c14.945,0,27.105-12.159,27.105-27.104V68.199
		C242.937,64.057,239.579,60.699,235.437,60.699z M15,192.405V38.427h173.728v29.771v124.206c0,4.349,1.036,8.458,2.864,12.104
		H27.104C20.43,204.509,15,199.079,15,192.405z M215.832,204.509c-6.674,0-12.104-5.43-12.104-12.104V75.699h24.209v116.706
		C227.937,199.079,222.506,204.509,215.832,204.509z" />
        <path d="M39.351,78.374h125.025c4.142,0,7.5-3.358,7.5-7.5c0-4.142-3.358-7.5-7.5-7.5H39.351c-4.142,0-7.5,3.358-7.5,7.5
		C31.851,75.016,35.208,78.374,39.351,78.374z" />
        <path d="M39.008,115.893c0,12.44,10.12,22.561,22.56,22.561c12.438,0,22.558-10.121,22.558-22.561
		c0-12.441-10.119-22.563-22.558-22.563C49.128,93.33,39.008,103.452,39.008,115.893z M69.125,115.893
		c0,4.169-3.39,7.561-7.558,7.561c-4.168,0-7.56-3.392-7.56-7.561c0-4.17,3.391-7.563,7.56-7.563
		C65.735,108.33,69.125,111.723,69.125,115.893z" />
        <path d="M39.351,180.02c4.142,0,7.5-3.358,7.5-7.5v-8.361c0-3.899,3.174-7.072,7.075-7.072h15.277c3.903,0,7.078,3.172,7.078,7.072
		v8.361c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-8.361c0-12.17-9.904-22.072-22.078-22.072H53.926
		c-12.172,0-22.075,9.901-22.075,22.072v8.361C31.851,176.662,35.208,180.02,39.351,180.02z" />
        <path d="M164.376,97.063h-57.763c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h57.763c4.142,0,7.5-3.358,7.5-7.5
		C171.876,100.421,168.518,97.063,164.376,97.063z" />
        <path d="M164.376,164.443h-57.763c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h57.763c4.142,0,7.5-3.358,7.5-7.5
		S168.518,164.443,164.376,164.443z" />
        <path d="M164.376,130.753h-57.763c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h57.763c4.142,0,7.5-3.358,7.5-7.5
		C171.876,134.111,168.518,130.753,164.376,130.753z" />
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

        Добавить новости
    </a>
</div>
<div class="menu-item">
    <a class="menu-link @SetMenuClassAndActive("menu-link-contacts")" asp-area="" asp-controller="Contacts" asp-action="Index">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30"
             viewBox="0 0 610.633 610.633" style="enable-background:new 0 0 610.633 610.633;"
             xml:space="preserve">
<g fill="#83b4ff">
        <g>
        <polygon points="553.941,473.344 418.288,473.344 418.288,610.633 		" />
        <path d="M553.941,38.164C553.941,17.069,536.872,0,515.777,0H94.855C73.78,0,56.691,17.069,56.691,38.164v534.305
			c0,21.095,17.088,38.164,38.164,38.164h284.613V449.395c0-10.548,8.534-19.082,19.082-19.082h155.391V38.164z M114.066,95.625
			h191.25v43.031h-191.25V95.625z M114.066,215.156h191.25v43.031h-191.25V215.156z M305.316,497.25h-191.25v-43.031h191.25V497.25z
			 M487.004,377.719H114.066v-43.031h372.938V377.719z M487.004,258.188H367.473V95.625h119.531V258.188z" />
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
        Помощь
    </a>
</div>
@{
    string SetMenuClassAndActive(string menuLinkClassName)
    {
        if ((string)ViewData["ActiveMenuLink"] == menuLinkClassName)
            return $"{menuLinkClassName} active";
        else
            return menuLinkClassName;
    }
}