@model IEnumerable<UniHackStart.Models.StudentTimeTableModel>
<h3 class="block-title">Расписание</h3>

<div class="timetable slider">
    @foreach (var day in @Model)
    {
        <div class="card timetable-card">
            <div class="timetable-date"> @day.DayOfWeek  </div>
            @foreach (var item in day.ParaList)
            {
                <div class="timetable-lesson">
                    <div class="timetable-lesson-item">
                    <div class="timetable-lesson-para">@item.paraNumber</div>
                    <div class="timetable-lesson-time">
                        @item.TimeStart_1 - @item.TimeEnd_1
                        <br />
                        @item.TimeStart_2 - @item.TimeEnd_2
                    </div>
                    <div class="timetable-lesson-teacher-wrapper">
                        <div class="timetable-lesson-text">@item.LessonName @item.LessonShortType</div>
                        <div class="timetable-lesson-place">@item.CorpClassRoom</div>
                        <div class="timetable-lesson-teacher">@item.TeacherName</div>
                    </div>
                </div>
                    </div>
            }
        </div>
    }
</div>
<script>$('.slider').slick({ dots: true });</script>